<div class="grid" data-controller="popup">
  <!-- Overall Stats -->
  <div class="tw-container order-2 overflow-x-auto 2lg:order-none 2lg:py-2.5">
    <div class="flex py-2 items-center">
      <div class="flex flex-1 gap-x-4 pr-[15px]">
        <div class="text-xs leading-4 text-gray-500 items-center hidden 2lg:block">
          <span class="whitespace-pre">Coins: </span>
          <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">14,468</span>
        </div>
        <div class="text-xs leading-4 text-gray-500 items-center hidden 2lg:block">
          <span class="whitespace-pre">Exchanges: </span>
          <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">1,103</span>
        </div>
        <div class="flex text-xs leading-4 text-gray-500 items-center">
          <span class="whitespace-pre">Market Cap: </span>
          <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">$2.705T</span>
          <span class="gecko-up">
            <i class="fa-solid fa-fw fa-caret-up"></i>
            0.9%
          </span>
        </div>
        <div class="flex text-xs leading-4 text-gray-500 items-center">
          <span class="whitespace-pre">24h Vol: </span>
          <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">$57.269B</span>
        </div>
        <div class="flex text-xs leading-4 text-gray-500 items-center">
          <span class="whitespace-pre">Dominance: </span>
          <div class="inline-flex gap-x-2">
            <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">BTC 50.3%</span>
            <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">ETH 16.7%</span>
          </div>
        </div>
        <div class="flex text-xs leading-4 text-gray-500 items-center">
          <i class="fab fa-fw fa-ethereum"></i>
          <span class="whitespace-pre">Gas: </span>
          <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">4 GWEI</span>
        </div>
      </div>
      <div class="hidden 2lg:flex justify-end gap-x-2">
        <button class="text-xs leading-4 mb-1 font-semibold text-black shadow-[0_4px_0_0] shadow-slate-300 border-slate-300 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-slate-300 hover:bg-slate-100 duration-150 outline-none">
          <i class="fa-solid fa-fw fa-gear"></i>
        </button>
        <button class="text-xs leading-4 mb-1 font-semibold text-black shadow-[0_4px_0_0] shadow-slate-300 border-slate-300 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-slate-300 hover:bg-slate-100 duration-150 outline-none">
          Login
        </button>
        <button class="text-xs leading-4 mb-1 font-semibold bg-primary-500 text-white shadow-[0_4px_0_0] shadow-primary-700 border-primary-500 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-primary-500 hover:bg-primary-600 hover:border-primary-600 duration-150 outline-none">
          Sign Up
        </button>
      </div>
    </div>
  </div>
  <!-- Separator -->
  <div>
    <div class="w-full border-t border-gray-200"></div>
  </div>
  <!-- Menu Items -->
  <div class="tw-container 2lg:py-3 flex flex-col 2lg:flex-row">
    <!-- Mobile Menu Items -->
    <div class="flex gap-x-4 items-center pt-4 2lg:pt-0">
      <a class="2lg:hidden">
        <i class="fa-bars fa-solid fa-fw text-gray-700 text-base cursor-pointer py-2 pr-2"></i>
      </a>
      <!-- Coin Gecko Icon -->
      <a class="inline-block">
        <img class="2lg:h-10 h-8 block" src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png"/>
      </a>
      <button class="lg:hidden ml-auto inline-flex text-xs leading-4 mb-1 font-semibold bg-primary-500 text-white shadow-[0_4px_0_0] shadow-primary-700 border-primary-500 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-primary-500 hover:bg-primary-600 hover:border-primary-600 duration-150 outline-none">
        Use App
      </button>
    </div>
    <div class="tw-container items-center hidden 2lg:flex 2lg:!px-0 flex-row flex-1 !mr-4">
      <!-- Cryptocurrencies -->
      <div class="relative mx-8" data-action="mouseover->popup#handleOver mouseout->popup#handleAway">
        <div class="popup-label font-semibold text-sm leading-5 text-gray-700 cursor-pointer">
          Cryptocurrencies
        </div>
        <!-- Cryptocurrencies Popup -->
        <div class="popup-items rounded-md shadow-lg bg-white origin-top-left mt-2 p-4 w-56 ring-2 ring-gray-200 z-[2000] 2lg:hidden">
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-ranking-star fa-solid fa-fw text-gray-400 mr-2"></i>
            By Market Cap
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-shapes fa-solid fa-fw text-gray-400 mr-2"></i>
            Categories
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-link fa-solid fa-fw text-gray-400 mr-2"></i>
            Chains
          </a>
          <div class="flex gap-x-2 items-center text-xs p-2 text-gray-500">
            <span class="shrink-0">Popular</span>
            <div class=" w-full border-t border-gray-200"></div>
          </div>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-list-ol fa-solid fa-fw text-gray-400 mr-2"></i>
            Highlights
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-star fa-solid fa-fw text-gray-400 mr-2"></i>
            New Cryptocurrencies
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-trophy fa-solid fa-fw text-gray-400 mr-2"></i>
            Gainers & Losers
          </a>
          <div class="flex gap-x-2 items-center text-xs p-2 text-gray-500">
            <span class="shrink-0">Tools</span>
            <div class=" w-full border-t border-gray-200"></div>
          </div>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            All Coins
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            Compare Coins
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            Converter
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            Global Chart
          </a>
        </div>
      </div>
      <!-- Exchanges -->
      <div class="relative mr-8" data-action="mouseover->popup#handleOver mouseout->popup#handleAway">
        <div class="popup-label font-semibold text-sm leading-5 text-gray-700 cursor-pointer">
          Exchanges
        </div>
        <!-- Exchanges Popup -->
        <div class="popup-items rounded-md shadow-lg bg-white origin-top-left mt-2 p-4 w-56 ring-2 ring-gray-200 z-[2000] 2lg:hidden">
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-building-columns fa-solid fa-fw text-gray-400 mr-2"></i>
            Crypto Exchanges
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-cubes fa-solid fa-fw text-gray-400 mr-2"></i>
            Decentralized Exchanges
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-chart-line fa-solid fa-fw text-gray-400 mr-2"></i>
            Derivatives
          </a>
        </div>
      </div>
      <!-- NFT -->
      <div class="relative mr-8" data-action="mouseover->popup#handleOver mouseout->popup#handleAway">
        <div class="popup-label font-semibold text-sm leading-5 text-gray-700 cursor-pointer">
          NFT
        </div>
        <!-- NFT Popup -->
        <div class="popup-items rounded-md shadow-lg bg-white origin-top-left mt-2 p-4 w-56 ring-2 ring-gray-200 z-[2000] 2lg:hidden">
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-image fa-solid fa-fw text-gray-400 mr-2"></i>
            NFT Floor Price
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-image fa-solid fa-fw text-gray-400 mr-2"></i>
            NFT Related Coins
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-star fa-solid fa-fw text-gray-400 mr-2"></i>
            NFT Watchlist
          </a>
        </div>
      </div>
      <!-- Learn -->
      <div class="relative mr-8" data-action="mouseover->popup#handleOver mouseout->popup#handleAway">
        <div class="popup-label font-semibold text-sm leading-5 text-gray-700 cursor-pointer">
          Learn
        </div>
        <!-- Learn Popup -->
        <div class="popup-items rounded-md shadow-lg bg-white origin-top-left mt-2 p-4 w-56 ring-2 ring-gray-200 z-[2000] 2lg:hidden">
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-book-open fa-solid fa-fw text-gray-400 mr-2"></i>
            Learn Crypto
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-lightbulb fa-solid fa-fw text-gray-400 mr-2"></i>
            Research Insights
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-newspaper fa-solid fa-fw text-gray-400 mr-2"></i>
            News
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-chart-area fa-solid fa-fw text-gray-400 mr-2"></i>
            Reports
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-graduation-cap fa-solid fa-fw text-gray-400 mr-2"></i>
            Learn &amp; Earn
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-youtube fa-brands fa-fw text-gray-400 mr-2"></i>
            Videos
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-microphone fa-solid fa-fw text-gray-400 mr-2"></i>
            Podcast
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-envelope fa-solid fa-fw text-gray-400 mr-2"></i>
            Newsletter
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-arrow-down-a-z fa-solid fa-fw text-gray-400 mr-2"></i>
            Glossary
          </a>
        </div>
      </div>
      <!-- Products -->
      <div class="relative mr-8" data-action="mouseover->popup#handleOver mouseout->popup#handleAway">
        <div class="popup-label font-semibold text-sm leading-5 text-gray-700 cursor-pointer">
          Products
        </div>
        <!-- Products Popup -->
        <div class="popup-items rounded-md shadow-lg bg-white origin-top-left mt-2 p-4 w-56 ring-2 ring-gray-200 z-[2000] 2lg:hidden">
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-star fa-solid fa-fw text-gray-400 mr-2"></i>
            Crypto Portfolio
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-mobile-screen-button fa-solid fa-fw text-gray-400 mr-2"></i>
            CoinGecko App
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            <i class="fa-crown fa-solid fa-fw text-gray-400 mr-2"></i>
            CoinGecko Premium
          </a>
          <div class="flex gap-x-2 items-center text-xs p-2 text-gray-500">
            <span class="shrink-0">For Developers</span>
            <div class=" w-full border-t border-gray-200"></div>
          </div>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            Crypto API
          </a>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            Crypto Widget
          </a>
          <div class="flex gap-x-2 items-center text-xs p-2 text-gray-500">
            <span class="shrink-0">On-Chain</span>
            <div class=" w-full border-t border-gray-200"></div>
          </div>
          <a class="hover:bg-gray-100 hover:text-gray-900 flex text-sm font-semibold items-center text-gray-700 rounded-lg px-2 py-3">
            GeckoTerminal
          </a>
        </div>
      </div>
      <!-- Candy -->
      <div class="flex flex-1 justify-end font-semibold text-sm leading-5 text-gray-700 gap-x-1">
        <img loading="lazy" height="20" width="13" class="align-middle" src="https://static.coingecko.com/s/candy_notification-62af2d17629b138154e3fac22a492b51d914d18461f9283ae4bd5ad5730d8763.svg"/>
        <div class="font-semibold text-sm leading-5 text-gray-700">Candy</div>
      </div>
      <!-- Portfolio -->
      <div class="flex justify-end font-semibold text-sm leading-5 text-gray-700 ml-4 gap-x-1 items-center">
        <i class="fa-fw fa-star text-yellow-500 fas"></i>
        <div class="font-semibold text-sm leading-5 text-gray-700">Portfolio</div>
      </div>
    </div>
    <!-- Search Bar -->
    <div class="relative py-2 2lg:py-0">
      <div class="flex justify-between w-full 2lg:w-52 p-2.5 bg-gray-100 rounded-lg text-xs text-gray-500 items-center ">
        <div class="text-gray-500 font-semibold">
          <i class="fa-search fa-solid pr-1"></i>
          Search
        </div>
        <span class="rounded-md py-0.5 px-2 bg-gray-300 text-gray-500">
          /
        </span>
      </div>
    </div>
  </div>
  <!-- Separator -->
  <div class=" w-full border-t border-gray-200"></div>
</div>
<!-- Advertisement -->
<div class="tw-container h-[50px] md:h-[100px]">
</div>
<!-- Body Content Page -->
<div class="tw-container mb-8">
  <!-- All Cryptocurrencies -->
  <div>
    <h1 class="text-gray-900 text-sm leading-5 font-semibold md:font-bold md:text-2xl mb-1">
      All Cryptocurrencies
    </h1>
    <div class="text-xs leading-4 text-gray-500 md:text-sm">
      View a full list of active cryptocurrencies
    </div>
    <!-- All Cryptocurrencies Filter -->
    <div class="flex flex-wrap gap-2 mt-4 md:mt-8">
      <!-- Market Cap Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            Market Cap
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- Market Cap Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- 24h Volume Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            24h Volume
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- 24h Volume Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- 24h Change Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            24h Change
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- 24h Change Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Price Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            Price
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- Price Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Category Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            Category
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- Category Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Exchange Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            Exchange
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- Exchange Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Platform Filter -->
      <div x-data="{open: false}" class="relative">
        <button @click="open = !open" class="filter-dropdown-button flex text-sm items-center rounded-lg px-2.5 py-1.5 bg-gray-100 hover:bg-gray-300">
          <div class="text-gray-900 font-semibold text-sm leading-5">
            Platform
          </div>
          <i class="fa-chevron-down fa-solid fas text-gray-900 ml-2"></i>
        </button>
        <!-- Platform Filter Popup -->
        <div @click.away="open = false" x-show="open" class="filter-dropdown rounded-md shadow-lg bg-white origin-top-left mt-2 p-2 w-56 ring-2 ring-gray-200 z-[2000]">
          <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mt-0.5 mb-2">
            <input class="placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent">
          </div>
          <div class="max-h-[320px] overflow-auto">
            <div class="filter-dropdown-item flex justify-between text-gray-700 hover:bg-gray-100">
              All
              <i class="fa fa-check text-primary-500"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Separator -->
      <div class="border-r border-gray-200 my-0.5">
      </div>
      <!-- Search & Reset -->
      <div>
        <button class="text-xs leading-4 mb-1 font-semibold bg-primary-500 text-white shadow-[0_4px_0_0] shadow-primary-700 border-primary-500 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-primary-500 hover:bg-primary-600 hover:border-primary-600 duration-150 outline-none">
          Search
        </button>
        <button class="text-xs leading-4 mb-1 font-semibold text-black shadow-[0_4px_0_0] shadow-slate-300 border-slate-300 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-slate-300 hover:bg-slate-100 duration-150 outline-none">
          Reset
        </button>
      </div>
    </div>
    <!-- <%= form_for @cryptocurrency do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :price %>
        <%= f.submit %>
      <% end %> -->
    <!-- All Cryptocurrencies Table -->
    <div class="mt-3 overflow-x-auto 2lg:overflow-x-visible 2lg:flex 2lg:justify-center">
      <table class="border-y border-gray-200 divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-left left-[24px] md:min-w-[48px]">
              #
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-left left-[51px] min-w-[122px] md:left-[72px] 2lg:min-w-[220px]">
              Coin
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right">
              Price
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[70px]">
              1h
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[70px]">
              24h
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[70px]">
              7d
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[70px]">
              30d
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[150px]">
              24h Volume
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[150px]">
              Circulating Supply
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[150px]">
              Total Supply            
            </th>
            <th class="py-3 px-1 text-xs font-semibold text-gray-900 text-right min-w-[160px]">
              Market Cap
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @cryptocurrencies.each_with_index do |cryptocurrency, index|%>
            <% percentage_state_class_1h = cryptocurrency.price_fluctuate_percentage_status ? 'text-green-500' : 'text-red-500' %>
            <% percentage_state_class_24h = cryptocurrency.price_fluctuate_percentage_status ? 'text-green-500' : 'text-red-500' %>
            <% percentage_state_class_7d = cryptocurrency.price_fluctuate_percentage_status ? 'text-green-500' : 'text-red-500' %>
            <% percentage_state_class_30d = cryptocurrency.price_fluctuate_percentage_status ? 'text-green-500' : 'text-red-500' %>
            <% coin_index = index + 1 %>
            <tr class="text-sm bg-white hover:bg-gray-50">
              <!-- Index -->
              <td class="text-gray-900 px-1 py-2.5">
                <%= coin_index %>
              </td>
              <!-- Coin Name -->
              <td class="px-1 py-2.5">
                <div class="flex items-center w-full">
                  <a>
                    <img class="mr-2 h-6 w-6 object-fill" src="<%= cryptocurrency.image_url %>">
                  </a>
                  <div class="flex flex-col 2lg:flex-row  items-start 2lg:items-center gap-x-1">
                    <div class="text-gray-700 font-semibold text-sm leading-5 ">
                      <%= cryptocurrency.name %>
                      <div class="text-gray-500 text-xs leading-4 font-medium inline">
                        <%= cryptocurrency.abbreviation %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <!-- Price -->
              <td class="text-gray-900 px-1 py-2.5 text-end">
                $<%= number_with_delimiter(cryptocurrency.price, delimiter: ",") %>
              </td>
              <!-- 1h -->
              <td class="<%= percentage_state_class_1h %> px-1 py-2.5 text-end">
                <% if cryptocurrency.price_fluctuate_percentage_status %>
                  <i class="fa-solid fa-fw fa-caret-up"></i>
                <% else %>
                  <i class="fa-solid fa-fw fa-caret-down"></i>
                <% end %>
                <%= cryptocurrency.price_fluctuate_percentage %>
              </td>
              <!-- 24h -->
              <td class="<%= percentage_state_class_24h %> px-1 py-2.5 text-end">
                <% if cryptocurrency.price_fluctuate_percentage_status %>
                  <i class="fa-solid fa-fw fa-caret-up"></i>
                <% else %>
                  <i class="fa-solid fa-fw fa-caret-down"></i>
                <% end %>
                <%= cryptocurrency.price_fluctuate_percentage %>
              </td>
              <!-- 7d -->
              <td class="<%= percentage_state_class_7d %> px-1 py-2.5 text-end">
                <% if cryptocurrency.price_fluctuate_percentage_status %>
                  <i class="fa-solid fa-fw fa-caret-up"></i>
                <% else %>
                  <i class="fa-solid fa-fw fa-caret-down"></i>
                <% end %>
                <%= cryptocurrency.price_fluctuate_percentage %>
              </td>
              <!-- 30d -->
              <td class="<%= percentage_state_class_30d %> px-1 py-2.5 text-end">
                <% if cryptocurrency.price_fluctuate_percentage_status %>
                  <i class="fa-solid fa-fw fa-caret-up"></i>
                <% else %>
                  <i class="fa-solid fa-fw fa-caret-down"></i>
                <% end %>
                <%= cryptocurrency.price_fluctuate_percentage %>
              </td>
              <!-- 24h Volume -->
              <td class="text-gray-900 px-1 py-2.5 text-end">
                $<%= number_with_delimiter(cryptocurrency.volume, delimiter: ",") %>
              </td>
              <!-- Circulating Supply -->
              <td class="text-gray-900 px-1 py-2.5 text-end">
                <%= number_with_delimiter(cryptocurrency.circulating_supply, delimiter: ",") %>
              </td>
              <!-- Total Supply -->
              <td class="text-gray-900 px-1 py-2.5 text-end">
                <%= number_with_delimiter(cryptocurrency.total_supply, delimiter: ",") %>M
              </td>
              <!-- Market Cap -->
              <td class="text-gray-900 px-1 py-2.5 text-end">
                $<%= number_with_delimiter(cryptocurrency.market_cap, delimiter: ",") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Separator -->
<div>
  <div class="w-full border-t border-gray-200"></div>
</div>
<!-- Footer -->
<div class="tw-container items-center my-6" data-controller="footer">
  <div class="lg:grid lg:grid-cols-7 lg:gap-x-8">
    <!-- Website Summary -->
    <div class="col-span-3">
      <a class="inline-block">
        <img class="2lg:h-10 h-8 block" src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png"/>
      </a>
      <div class="text-gray-500 text-sm leading-5 mt-5">
        CoinGecko provides a fundamental analysis of the crypto market, In addition to tracking price, volume and market capitalisation, CoinGecko tracks community growth, open-source code development, major events and on-chain metrics.
      </div>
    </div>
    <!-- Resources & Donations -->
    <div class="mt-8 lg:mt-0">
      <!-- Resources -->
      <div class="flex flex-col lg:space-y-4">
        <div id="footer-resources" data-action="click->footer#toggleFooter" class="flex items-center cursor-pointer lg:cursor-auto py-4 lg:py-0 border-0 border-t border-b lg:border-t-0 lg:border-b-0 border-solid border-gray-200">
          <div class="text-gray-700 font-semibold text-sm leading-5 flex-1">
            Resources
          </div>
          <span class="lg:hidden">
            <i class="fa-solid fa-plus fa-fw text-lg">
            </i>
          </span>
        </div>
        <div id="footer-resources-items" class="flex flex-col gap-y-4 mt-0 lg:mt-2 h-0 lg:h-auto pl-2 lg:pl-0 lg:pb-0 border-0 lg:border-b-0 border-solid overflow-y-hidden">
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Crypto News
          </div>
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Bitcoin Treasury
          </div>
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Crypto Heatmap
          </div>
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Crypto API
          </div>
        </div>
      </div>
      <!-- Donations -->
      <div class="flex flex-col lg:space-y-4 lg:mt-6">
        <div id="footer-donations" data-action="click->footer#toggleFooter" class="flex items-center cursor-pointer lg:cursor-auto py-4 lg:py-0 border-0 border-b lg:border-b-0 border-solid border-gray-200">
          <div class="text-gray-700 font-semibold text-sm leading-5 flex-1">
            Donations
          </div>
          <span class="lg:hidden">
            <i class="fa-solid fa-plus fa-fw text-lg">
            </i>
          </span>
        </div>
        <div id="footer-donations-items" class="flex flex-col gap-y-4 mt-0 lg:mt-2 h-0 lg:h-auto pl-2 lg:pl-0 lg:pb-0 border-0 lg:border-b-0 border-solid overflow-y-hidden">
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Bitcoin
          </div>
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Ethereum
          </div>
        </div>
      </div>
    </div>
    <!-- Support -->
    <div class="flex flex-col lg:space-y-4">
      <div id="footer-support" data-action="click->footer#toggleFooter" class="flex items-center cursor-pointer lg:cursor-auto py-4 lg:py-0 border-0 border-b lg:border-b-0 border-solid border-gray-200">
        <div class="text-gray-700 font-semibold text-sm leading-5 flex-1">
          Support
        </div>
        <span class="lg:hidden">
          <i class="fa-solid fa-plus fa-fw text-lg">
          </i>
        </span>
      </div>
      <div id="footer-support-items" class="flex flex-col gap-y-4 mt-0 lg:mt-2 h-0 lg:h-auto pl-2 lg:pl-0 lg:pb-0 border-0 lg:border-b-0 border-solid overflow-y-hidden">
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Request Form
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Advertising
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Candy Rewards Listing
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Help Center
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Bug Bounty
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          FAQ
        </div>
      </div>
    </div>
    <!-- About CoinGecko -->
    <div class="flex flex-col lg:space-y-4">
      <div id="footer-about" data-action="click->footer#toggleFooter" class="flex items-center cursor-pointer lg:cursor-auto py-4 lg:py-0 border-0 border-b lg:border-b-0 border-solid border-gray-200">
        <div class="text-gray-700 font-semibold text-sm leading-5 flex-1">
          About CoinGecko
        </div>
        <span class="lg:hidden">
          <i class="fa-solid fa-plus fa-fw text-lg">
          </i>
        </span>
      </div>
      <div id="footer-about-items" class="flex flex-col gap-y-4 mt-0 lg:mt-2 h-0 lg:h-auto pl-2 lg:pl-0 lg:pb-0 border-0 lg:border-b-0 border-solid overflow-y-hidden">
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          About Us
        </div>
        <div class="flex gap-x-1">
          <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
            Careers
          </div>
          <span class="inline-flex items-center rounded-md bg-primary-100 px-1.5 py-0.5">
            <div class="text-xs leading-4 text-primary-700 font-medium">
              Join Us
            </div>
          </span>
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Company Blog
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Branding Guide
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Methodology
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Disclaimer
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Terms of Service
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Privacy Policy
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Ad Policy
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Cookie Preferences
        </div>
      </div>
    </div>
    <!-- Community -->
    <div class="flex flex-col lg:space-y-4">
      <div id="footer-community" data-action="click->footer#toggleFooter" class="flex items-center cursor-pointer lg:cursor-auto py-4 lg:py-0 border-0 border-b lg:border-b-0 border-solid border-gray-200">
        <div class="text-gray-700 font-semibold text-sm leading-5 flex-1">
          Community
        </div>
        <span class="lg:hidden">
          <i class="fa-solid fa-plus fa-fw text-lg">
          </i>
        </span>
      </div>
      <div id="footer-community-items" class="flex flex-col gap-y-4 mt-0 lg:mt-2 h-0 lg:h-auto pl-2 lg:pl-0 lg:pb-0 border-0 lg:border-b-0 border-solid overflow-y-hidden">
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          X/Twitter
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Telegram Chat
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Telegram News
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Instagram
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Reddit
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Discord
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Facebook
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Youtube
        </div>
        <div class="font-normal text-gray-500 text-sm leading-5 cursor-pointer">
          Tiktok
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Separator -->
<div>
  <div class="w-full border-t border-gray-200"></div>
</div>
<!-- Crypto News -->
<div class="tw-container items-center my-6 block">
  <div class="block lg:flex">
    <!-- Crypto News Message -->
    <div class="flex-1">
      <div class="text-gray-700 font-semibold text-sm leading-5 mb-2">
        Interested to stay up-to-date with cryptocurrencies?
      </div>
      <div class="text-gray-500 font-normal text-sm leading-5 mb-2 lg:mb-0">
        Get the latest crypto news, updates, and reports by subscribing to our free newsletter.
      </div>
    </div>
    <!-- Subscribe Button -->
    <div>
      <div class="block lg:flex mb-1">
        <div class="focus-within:ring-primary-500 ring-2 ring-gray-100 rounded-lg px-0.5 mb-2 lg:mb-0 lg:mr-2">
          <input class="w-full placeholder-gray-400 text-sm px-2 h-10 p-0 border-0 outline-0 bg-transparent" placeholder="Enter your email address">
        </div>
        <button class="w-full lg:w-auto text-xs leading-4 mb-1 font-semibold bg-primary-500 text-white shadow-[0_4px_0_0] shadow-primary-700 border-primary-500 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-primary-500 hover:bg-primary-600 hover:border-primary-600 duration-150 outline-none">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Separator -->
<div>
  <div class="w-full border-t border-gray-200"></div>
</div>
<!-- Copyrights -->
<div class="tw-container block lg:flex items-center text-center lg:text-left my-6">
  <div class="block lg:flex-1 text-gray-500 font-normal text-sm mb-4 lg:mb-0">
    © 2024 CoinGecko. All Rights Reserved.
  </div>
  <div class="inline-block lg:flex">
    <div class="flex">
      <a href="https://coingecko.app.link/footer-android" width="135">
        <img loading="lazy" class="mr-2" width="135" height="40" src="https://static.coingecko.com/s/coingecko_logos/google_play_store-cb1f298b04afa7f74639a948d9b2e22e4aa6eea9486a2b0442c2cf9bdcda63e8.svg">
      </a>
      <a href="https://coingecko.app.link/footer-ios" width="135">
        <img loading="lazy" class="mr-2" width="135" height="40" src="https://static.coingecko.com/s/coingecko_logos/apple_app_store-558245a688cc13737dfb861fd82b252d75d5afbaf343c06e3067a454675bbe05.svg">
      </a>
    </div>
  </div>
</div>
<!-- Disclaimer -->
<div class="tw-container items-center my-6 leading-5">
  <div class="inline cursor-pointer font-semibold text-sm underline text-slate-700 hover:text-primary-500">
    IMPORTANT DISCLAIMER:</div>
  <div class="inline text-gray-500 text-sm font-normal">
    All content provided herein our website, hyperlinked sites, associated applications, forums, blogs, social media accounts and other platforms (“Site”) is for your general information only, procured from third party sources. We make no warranties of any kind in relation to our content, including but not limited to accuracy and updatedness. No part of the content that we provide constitutes financial advice, legal advice or any other form of advice meant for your specific reliance for any purpose. Any use or reliance on our content is solely at your own risk and discretion. You should conduct your own research, review, analyse and verify our content before relying on them. Trading is a highly risky activity that can lead to major losses, please therefore consult your financial advisor before making any decision. No content on our Site is meant to be a solicitation or offer.
  </div>
</div>
